@media screen and  (min-width:320px) and (max-width:767px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html{
        overflow-x: hidden;
        width:100%;
        
    }
    body {
        font-family: "Raleway", sans-serif;
        background: #dfdfdf;
        width:100%;
        overflow-x: hidden;
      
    }
    .header_top_sale{
        width:80%;
        height: 20px;
        background: #c12162;
        position: fixed;
        color:#fff;
        font-size: 0.75rem;
        text-align: center;
        font-weight: 400;
        top:0;
        left:10%;
    }
    header {
      position: fixed;
      top: -12px;
      width: 100%;
      z-index: 1000;
      margin-top: 1.5vw;
  }
  
  #navbar {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #000000;
      padding: 20px 20px;
      transition: all 0.3s ease;
      height: 130px;
      width: 100%;
      margin: 0 auto;
      position: relative;
      flex-direction: column;
  }
  
  #logo {
      font-size: 4rem;
      font-weight: 400;
      transition: font-size 0.3s ease;
      color: #bdbdbd;
      margin-bottom: 0.5vw;
  }
  
  .navbar_logo {
    width: 100%;
    max-width: 100vw;
      display: flex;
      list-style-type: none;
      position: relative;
      justify-content: flex-end;
      flex-wrap: wrap;
      box-sizing: border-box;
       justify-content: center; 
  }
  
  .navbar_logo li {
      position: relative;
      padding: 5vw;
      
  }
  
  .navbar_logo li a {
      text-decoration: none;
      color: #bababa;
      font-size: clamp(16px, 0.6rem, 1rem);
      transition: font-size 0.3s ease, color 0.3s ease;
      font-weight: 200;
      display: block;
      font-weight: 300;
  }
  
  .navbar_logo li a:hover {
      color: #ffffff;
      font-weight: 300;
      border-radius: 5px;
  }
  
  /* 서브메뉴 스타일 */
  .submenu {
    width: 100%;
    max-width: 100vw;
      display: none;
      position: fixed;
      top: 80px;
      left: 0;
      width: 100%;
      background-color: #5029c1;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
      padding: 20px 0;
  }
  
  .submenu li {
      padding: 10px 15px;
      display: inline-block;
  }
  
  .submenu li a {
      font-size: 1rem;
      color: #ffffff;
      transition: color 0.3s ease;
  }
  
  .submenu li a:hover {
      color: #b7b6b5;
  }
  
  /* 검색창 스타일 */
  #search-bar {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      padding: 15px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
  }
  
  #search-input {
      width: 80%;
      padding: 10px;
      font-size: 1.2rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
  }
  
  /* ✅ 모바일 반응형 스타일 (320px ~ 767px) */
 



      /* 네비게이션을 화면에 꽉 차게 만들기 */
      #navbar {
          flex-direction: row;
          justify-content: space-between;
          padding: 10px 20px;
          height: 70px;
      }
  
      /* 로고 크기 조절 */
      #logo {
          font-size: 2rem;
          margin: 0;
      }
  
      /* 햄버거 메뉴 아이콘 추가 */
      .menu-icon {
          display: block;
          font-size: 2rem;
          color: #bdbdbd;
          cursor: pointer;
      }
  
      /* 기본적으로 네비게이션 숨김 */
      /* 기본적으로 네비게이션 숨김 */
.navbar_logo {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding: 10px 0;
}

/* 햄버거 메뉴 클릭 시 네비게이션 보이게 */
.navbar_logo.active {
  display: flex;
}

/* 서브메뉴 스타일 */
.submenu {
  position: static;
  background-color: #5029c1;
  width: 100%;
  text-align: center;
  display: none;
}

.submenu.active {
  display: block; /* 서브메뉴 클릭 시 보이게 */
}

/* 햄버거 메뉴 스타일 */
.menu-icon {
  display: block;
  font-size: 1.5rem;
  color: #bdbdbd;
  cursor: pointer;
}

/* 검색창 스타일 */
#search-bar {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
}

      .submenu.active {
        display: block; /* 토글 시 보이도록 */
        display: flex;
;
    flex-direction: column;
    }
    
    .content {
        margin-top: 150px;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        margin-top: 6vw;
        display:flex;
     
        background: #cbcbcb;
        flex-direction: column;
    }
    .content_img{
        width:100%;
    }
    .content_img img{
        width:100%;
        font-size: 5.75em;
        margin-top: 26vw;
    }
    .cosmetics_content{
        display:flex;
    }
    .four_img{
        width:100%;
        height: auto;
    }
    .content_type2{
      font-size: clamp(1.5rem, 2.5rem, 20rem);
        color: #3b3fe1;
        font-weight: 600;
    }
    .content_type3{
      font-size: clamp(0.5rem, 0.9rem, 1.2rem);
      color:#000;
      margin-left: 4vw;
    }
    h4{
      font-size: 1.2rem;
      color: #090526;
      font-weight: 400;
      margin-top: 0.5vw;
      margin-left: 4vw;
    
    }
    .content_type1{
      display:flex;
      flex-direction: column;
      gap:0.5vw;
      padding: 0 0 3vw;
    }
    .content_type4{
        font-size: clamp(0.7rem, 0.8rem, 2rem);
        color: #000000;
        font-weight: 400;
        line-height: 1.5vw;
        margin-left: 4vw;
        line-height: 5vw;
    }
    /*vivatype*/
    .vivatype{
        font-size: 1.6rem;
        color: #32302f;
        text-align: center;
        padding: 2vw;
        background: #cbcbcb;
        /* width: 80%; */
        margin: 0 auto;
        margin-top: 16vw;
    }
    /*trand*/
    .trend{
        width:100%;
        height: 13vh;
        background:#ffffff;
        margin:0 auto;
        color:#fff;
        text-align: center;
        font-size: 0.8rem;
        font-weight: 400;
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        text-align: center;
        gap: 0.3vw;
    }
    
    .trend_line{
        width:80%;
        height: 5vh;
        background:#000;
        margin:0 auto;
    }
    .trend_line1{
        width:100%;
        max-width: 100vw;
        background:#000;
        overflow: hidden;
        margin-top:12vw;
    margin-bottom: 12vw;
    margin:0 auto;
    
    }
    
    .trend_btn {
        line-height: 5vw;
        width: 80%;
        padding: 10px 20px;
        font-size: 0.9rem;
        font-weight: bold;
        background: #1b1c22;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s ease-in-out;
        margin-top: 2vw;
        height: 5vh;
        margin-bottom: 2vw;
    }
    
    
    .trend_btn:hover {
        background: #f3591a;
    }
    .trend h2{
      font-size: clamp(16px, 1.4rem, 2rem);
        font-weight: 600;
        color: #000000;
    }
    /*new_viva*/
    .new_viva{
         width:80%;
         height: 450px;
         border:1px solid#fff;
         margin:0 auto;
         display:flex;
    }
    .new_viva_img_type{
        width:25%;
        height: 450px;
        border:1px solid#fff;
    }
    /*슬라이드*/
    
    .slide{
        width:80%;
        height: 80vh;
        border:1px solid#fff;
        margin:0 auto;
    }
    .slide h2{
        text-align: center;
        font-size:3rem;
        line-height: 30vw;
    }
    
    
    
    
    /*네개 이미지*/
    .four_img {
        width: 100%;
       
        margin: 0 auto;
        background: #c9c6cb;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .four_img_type {
        width: 100%;
        display: flex;
        
    }
    
    .four_img_type .img_wrap {
        position: relative;
        width: 25%;
        overflow: hidden;
    }
    
    .four_img_type img {
        width: 100%;
        height: 28vh;
        display: block;
        transition: opacity 0.3s ease-in-out;
    }
    
    
    .slider-container1 {
      width: 100%;
      overflow: hidden;
      position: relative;
      margin: 0 auto;
    }
    .slider1 {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }
    .slider1 img {
      width: 25%;
      
    }
    .controls1 {
      margin-top: 50px;
      display: flex;
      justify-content: center;
    
    }
    video{
        height: 34vh;
    }
    .button_2{
        width: 51vw;
        height: 5vh;
      background:#f3591a;
      border:none;
      
      margin-top: 2.4vw;
      font-size: 1rem;
      color:#fff;
    }
    /* 오버레이 효과 */
    .four_img_type .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6); 
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 1.5rem;
        font-weight: bold;
        transition: opacity 0.3s ease-in-out;
    }
    
    /* 호버 시 효과 */
    .four_img_type .img_wrap:hover img {
        opacity: 0.5;
    }
    
    .four_img_type .img_wrap:hover .overlay {
        opacity: 1;
    }
    
    
    
    
    
    footer {
        background-color: #000000;
        padding: 20px;
        text-align: center;
        font-size: 14px;
        width:100%;
        margin:0 auto;
        
        margin-top: 16vw;
      }
      
      .footer-container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: center;
      }
      
      .footer-section {
        margin: 0 10px;
        
      }
      
      .footer-section h3 {
        font-size: 18px;
        color: #eeeeee;
        margin-bottom: 10px;
      }
      
      .footer-section ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
      .footer-section ul li {
        margin-bottom: 8px;
        margin-top: 0.5vw;
      }
      
      .footer-section ul li a {
        text-decoration: none;
        color: #dfdfdf;
        font-size: 14px;
      }
      
      .footer-section ul li a:hover {
        color: #999999;
      }
      
      .footer-country-language {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 3vw;
      }
      .footer-all{
        display:flex;
       
        flex-direction: column;
      }
      .dropdown {
        position: relative;
        display: inline-block;
        margin-right: 20px;
      }
      
      .dropbtn {
        background-color: #5c5c5c;
        color: #dedede;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        margin-left: 6vw;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 160px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        top: -120px;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      .dropdown-content a {
        color: #7b7b7b;
        padding: 5px 8px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {
        background-color: #ddd;
      }
      
      .country-label {
        margin-left: 10px;
        font-size: 14px;
        color: #e4e4e4;
        margin-top: 1.5vw;
      }
      
      .footer-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 20px;
      }
      
      .footer-right span {
        margin-right: 20px;
        color: #fff;
        font-size: 0.6rem;
      }
      
      .footer-right a {
        text-decoration: none;
        color: #e9e9e9;
      }
      
      .footer-right a:hover {
        color: #a1a1a1;
      }
      
      @media screen and (max-width: 768px) {
        .footer-container {
          flex-direction: column;
          align-items: center;
        }
      
        .footer-section {
          margin-bottom: 13px;
        }
      
        .footer-country-language {
          justify-content: center;
          text-align: center;
        }
      
        .footer-right {
          justify-content: center;
          text-align: center;
          margin-top: 10px;
          margin-left: 7vw;
        }
      }
    
    /*자동슬라이드image-container/container*/
    
    
    
    .container {
        position: relative;
        width: 100%;
        background: white;
        margin-top: 16vw;
       /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
        margin:0 auto;
        margin-top: 15vw;
    }
    .text {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        background: rgba(255, 255, 255, 0.7);
        padding: 15px;
        border-radius: 5px;
        z-index: 20;
    }
    .image-container {
        position: relative;
        width: 100%;
        height:166px;
        
        overflow: hidden;
        margin:0 auto;
    }
    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
    .image-container img.active {
        opacity: 1;
    }
    .btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        font-size: 18px;
        border-radius: 50%;
        z-index: 10;
    }
    .prev {
        left: 10px;
    }
    .next {
        right: 10px;
    }
    
    
    /*자동슬라이드end*/
    .header_top_sale,.content_type3,h4,.trend_line,.trend p,.prev,.next {
        display:none;
    }

    #search-bar {
      position: absolute;
      top: 100%;
     
      width: 100%;
      background-color: #515151;
      padding: 15px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
      display: none;
      opacity: 0; 
      transition: opacity 0.3s ease-in-out; 
  }
  #search-icon svg {
    width: 22px;  
    height: 22px;
    fill: #fafafa; 
  }
  #search-input {
      width: 80%;
      padding: 10px;
      font-size: 1.2rem;
      border: 1px solid #000000;
      border-radius: 5px;
      outline: none;
      color:#000;
  }
  
  .search-icon {
      cursor: pointer;
      display: flex;
      justify-content: center;
      margin-top: 2.5vw;
      gap: 0vw;
      margin-left: 1vw;
  }
  
.icon {
      display: flex;
      width:100%;
      justify-content: flex-start;
      gap: 1vw;
      justify-content: center;
    }
    
    .icon img{
      width: 9.2vw;
      opacity: 80%;
      margin-bottom: 4vw;
    }
  .icon img:hover{
    width:2.2vw;
    filter: grayscale(100%) brightness(50%);
  }
  





    }