
.content_img img{
    width:100%;
}

/*===================================*/




.product-detail {
    display: flex;
    width: 89%;
    margin: 0 auto;
    justify-content: center;
    margin-top: 7.5vw;
}

.image-indicators {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 10px 0;
    transition: background-color 0.3s;
}


.product-images {
    width: 50%;
    height: 900px;
    overflow-y: scroll; 
   
}

.product-images img {
    width: 100%;
    height: auto;
    
}
.product_type{
    margin-left: 3vw;
    margin-top: 6vw;
}
.product-description {
    width: 40%;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-description h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.product-description .reference,
.product-description .price {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.product-description .details-link {
    color: #007bff;
    text-decoration: none;
    margin-bottom: 20px;
}

.product-line {
    width: 90%;
    height: 1.5px;
    background-color: #000;
}

.color-selection {
    margin-bottom: 20px;
}

.color-selection .colors {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.color-selection .color {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.color-selection .color:hover {
    transform: scale(1.2);
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.add-to-cart,
.add-to-wishlist {
    padding: 15px;
    font-size: 1.2rem;
    border: 1px solid #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 90%;
    margin-top: 4vw;
}

.add-to-cart {
    background-color: #ffffff;
    color: rgb(39, 39, 39);
}

.add-to-cart:hover {
    background-color: #ffffff;
}

.add-to-wishlist {
    background-color: #ffc107;
    color: white;
}

.add-to-wishlist:hover {
    background-color: #e0a800;
}

.wishlist-message,
.cart-message {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    display: none;
}

.wishlist-icon1 {
    width: 30px;
    height: 30px;
    cursor: pointer;
    fill: #ccc;
    transition: fill 0.3s ease;
}

.wishlist-icon1.active {
    fill: gold;
}
video{
    width: 53%;
    margin-left: 10vw;
}
.product-detail_2{
    width:80%;
    margin:0 auto;
}
.cosmetics_section1{
    display:flex;
    width:100%;
}
.cosmetics_section1 img{
    width: 33.3%;
    margin:0 auto;
    margin-left:1px;
}